<% layout("/layouts/boilerplate") %>

<div id="filters">
    <div class="filter">
        <a class="links" href="/">
            <div>
                <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
        </a>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-mountain-city"></i>
        </div>
        <p>Iconic cities</p>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-mountain"></i>
        </div>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <div>
            <i class="fa-brands fa-fort-awesome"></i>
        </div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-person-swimming"></i>
        </div>
        <p>Amazing pools</p>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-tents"></i>
        </div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-umbrella-beach"></i>
        </div>
        <p>Beaches</p>
    </div>
    <div class="filter">
        <div>
            <i class="fa-solid fa-snowflake"></i>
        </div>
        <p>Arctic</p>
    </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let list of allListings) { %>
    <a href="/listings/<%= list.id  %>" class="listing-link">
        <div class="card col listing-card">
            <img
                src="<%= list.image.url %>"
                class="card-img-top"
                alt="listing_image"
            />
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b>
                        <i class="fa-solid fa-map-location-dot"></i>&nbsp;<%=
                        list.title %>
                    </b>
                    <br />
                    <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;<%=
                    list.price.toLocaleString("en-IN") %> / night
                </p>
            </div>
        </div>
    </a>
    <% } %>
</div>
