<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <h3><i class="fa-solid fa-user-plus"></i>&nbsp;Sign Up</h3>
            <form
                action="/signup"
                method="post"
                novalidate
                class="needs-validation"
            >
                <div class="form-floating mb-3 mt-3">
                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="floatingUsername"
                        placeholder="username"
                        required
                    />
                    <label for="floatingUsername" class="form-label"
                        ><i class="fa-solid fa-user"></i>&nbsp;Username</label
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                        Please provide a valid Username!
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="floatingEmail"
                        placeholder="eamil"
                        required
                    />
                    <label for="floatingEmail" class="form-label"
                        ><i class="fa-solid fa-envelope"></i>&nbsp;E-Mail</label
                    >
                    <div class="invalid-feedback">
                        Please provide a valid E-Mail!
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="floatingPassword"
                        placeholder="password"
                        required
                    />
                    <label for="floatingPassword" class="form-label"
                        ><i class="fa-solid fa-lock"></i>&nbsp;Password</label
                    >
                    <div class="invalid-feedback">
                        Please provide a valid Password!
                    </div>
                </div>
                <p>
                    Already have an account?
                    <a href="/login" class="text-decoration-none">Login</a>
                </p>
                <br />

                <button class="btn btn-dark">
                    <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;SignUp
                </button>
                <br /><br />
            </form>
        </div>
    </div>
</body>
