<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page 1 + 2 </h1>
    <h3><%= 1 + 2 %></h3> <!--To know more go to ejs.co-->
    <h3><%= "unknown".toUpperCase() %></h3> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore, suscipit est deleniti a quidem odit repellat necessitatibus, nulla ullam sunt ad reprehenderit porro maiores fugiat praesentium odio perspiciatis tempora. Exercitationem asperiores quam debitis deleniti.</p>
    <button>Click me!</button>
</body>
</html>